* {
    padding: 0px;
    margin: 0px;
}

:root {
    --azulroxeado: #2611e4;
    --azulclaro: #acb5eb;
    --roxo: #970ce7;
    --azulescuro: #110957;
    --amarelo: #e4d60f;

    --preto: #000000;
    --branco: #ffffff;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--azulroxeado);
}

header {
    background-color: var(--azulescuro);
    color: var(--branco);
    padding: 10px;
}

header > h1 {
    text-align: center;
    margin-bottom: 30px;
}

header > menu > ul > li {
    display: inline;
    margin: 5px;
}

header > menu > ul > li > a {
    text-decoration: none; 
    color: var(--amarelo); 
    padding: 8px;
}

header > menu > ul > li > a:hover {
    background-color: var(--azulroxeado);
    border-radius: 5px;
}

header > menu > ul > li > a:active {
    color: var(--azulclaro);
}

main {
    color: var(--branco);
    padding: 10px;
    width: 310px;
    margin: auto;
}

main > h1 {
    text-align: center;
    margin-bottom: 15px;
}

main > h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: var(--amarelo);
}

main > h2, p, li {
    line-height: 30px;
}

li {
    list-style-position: inside;
    list-style-type: square;
}

main > p {
    text-align: justify;
}

footer {
    background-color: var(--preto);
    text-align: center;
    color: var(--branco);
}